p {
    color :rgb(255, 255, 255);
}
h1{
    color: rgb(201, 230, 15);    
    font-weight: bold;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}
h2 {
    color: rgb(218, 16, 218);
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}
h3, h4, h5 {
    color: rgb(207, 132, 91);
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}
body{
    background-color: rgb(8, 99, 23);
}